{% extends 'base.html' %}

{% block title %}Potwierdzenie rejestracji{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-sm-12 mt-4 text-center">
					<h1>Zarejestrowałeś się</h1>
		</div>
		<div class="col-sm-12 mt-4 text-danger font-weight-bold text-center">
				<p>Proces rejestracji przebiegł prawidłowo.</p>
		</div>
		<div class="col-sm-12 mt-4 text-danger font-weight-bold text-center">
				<p><a href="http://localhost/login">Powrót do poprzedniego menu</a></p>
		</div>
		
	</div>
</div>
{% endblock %}
