{% extends 'base1.html' %}

{% block title %}Strona glowna{% endblock %}

{% block body %}
	<div class=container>	

		<div class="row">

			<div class="col-sm-6 col-md-12 mt-4 text-dark font-weight-bold text-center">
				<h2>Dodaj przychód</h2>
				<p>Wypełnij poniższy formularz i zatwierdź by wprowadzić dane do programu.</p>
			</div>

		</div>
		<div class="row">
				
		
				<div class="col-sm-6 col-md-6 text-dark text-right mt-3 font-weight-bold" >
					<p> Podaj kwotę  </p>
					<p> Data  </p>
					<p> Kategoria </p>
					<p> Komentarz </p>
				</div>
				
				<div class="col-sm-6 col-md-6 text-md-left mt-3">
					<form method="post" action="/account/addRecordIncome">
						<p><input class="ml-4" type="text" name="kwota" reqired></p>
						<p><input class="ml-4" type="date" name="data" reqired></p>
						<p><select id="kategoria" name="kategoria">
							<option value="Wynagrodzenie" name="Wynagrodzenie" selected>Wynagrodzenie</option>
							<option value="Odsetki bankowe"  name="Odsetki bankowe"  >Odsetki bankowe</option>
							<option value="Sprzedaż na allegro"  name="Sprzedaż na allegro" >Sprzedaż na allegro</option>
							<option value="Inne"  name="Inne" >Inne</option>
						</select></p>
						<textarea name="komentarz" id="komentarz" rows="3" cols="30" ></textarea></p>
						<input class="mr-2 bg-success" type="submit" value="Dodaj">
						
					</form>
				</div>


		</div>

	</div>	
{% endblock %}
