{% extends 'base1.html' %}

{% block title %}Strona glowna{% endblock %}

{% block body %}
	<div class="container">	

		<div class="row">

			<div class="col-sm-6 col-md-12 mt-4 text-dark font-weight-bold text-center">
				<h2>Dodaj przychód</h2>
				<p>Wypełnij poniższy formularz i zatwierdź by wprowadzić dane do programu.</p>
			</div>

		</div>
		<div class="row">
				
		
				<div class="col-sm-6 col-md-6 text-dark text-right mt-3 font-weight-bold" >
					<p> Podaj kwotę  </p>
					<p> Data  </p>
					<p> Kategoria </p>
					<p> Komentarz </p>
				</div>
				
				<div id="updateList" class="col-sm-6 col-md-6 text-md-left mt-3">
					<form method="post" action="/income/addRecordIncome">
						<p><input type="text" name="kwota" reqired></p>
						<p><input type="date" name="data" reqired></p>
						<p><select id="kategoria" style="width: 60%" name="kategoria">
							{% for updateIncomeList in updateIncome %}
							<option value="{{ updateIncomeList.IncomeName }}" name="{{ updateIncomeList.IncomeName }}">{{ updateIncomeList.IncomeName }}</option>
				  			 {% endfor %}
						</select></p>
						<textarea name="komentarz" id="komentarz" rows="3" cols="30" ></textarea></p>
						<input class="mr-2 bg-success" type="submit" value="Dodaj">
						
					</form>
				</div>


		</div>

	</div>	
{% endblock %}
