{% extends 'base1.html' %}

{% block title %}Strona glowna{% endblock %}
{% block script %}

{% endblock %}
{% block body %}
		<div class="container">
			<div class="row">
		
			<div class="col-sm-6 col-md-12 mt-4 text-center text-dark font-weight-bold">
				<h2>Dodaj wydatek</h2>
				<p>Wypełnij poniższy formularz i zatwierdź by wprowadzić dane do programu.</p>
			</div>
			<div class="col-sm-6 col-md-12 text-center text-dark font-weight-bold" id="calculateResult"></div>
			</div>
			<div class="row">

				<div class="col-sm-6 col-md-6 mt-4 text-dark font-weight-bold text-right" id="value">
					<p><label> Podaj kwotę  </label></p>
					<p><label> Data  </label> </p>
					<p><label> Sposób płatności</label></p><br /><br /><br /><br /><br /><br />
					<p><label> Kategoria </label></p>
					<p><label> Komentarz </label></p>
				</div>
				
				<div id="expenseData" class="col-sm-6 col-md-6 text-left mt-3">
				<form method="post"  action="/expense/addRecordExpense">
					
					<p><input type="text" name="kwota" id="kwota" reqired></p>
					<p><input type="date" name="data" reqired></p>
					<p><fieldset >
						{% for paymentList in updatePaymentMethods %}	
						<p class="col-sm-10 col-md-10 d-inline-block"><label><input type="radio" value="{{ paymentList.PaymentName }}" name="zaplata"> {{ paymentList.PaymentName }} </label></p>
						{% endfor %}
					</fieldset></p>
					<p><select id="kategoria" name="kategoria" style="width: 80%" onchange="myFunction()">
						
						{% for updateExpenseList in updateExpense %}
						<option value="{{ updateExpenseList.ExpenseName }}" name="{{ updateExpenseList.ExpenseName }}" id="kat">{{ updateExpenseList.ExpenseName }}
						{% if(updateExpenseList.budzet !=0) %}
						<div>Limit: {{ updateExpenseList.budzet}}</div>
						{% endif %}
					
					</option>
						   {% endfor %}
						</select></p>	   
						<p><textarea name="komentarz" id="komentarz" rows="3" cols="30" ></textarea></p>
						<input class="mr-2 bg-success" type="submit" value="Dodaj">
				</div>
				
		</div>
		</div>
		<script>
			
				function myFunction(){
				var kwota = document.getElementById("kwota").value;
				var kategoria = document.getElementById("kategoria").value;
				
				$.ajax({
				type: "post",
				url: "/expense/calculateExpense",
				data: { kwota: kwota, kategoria: kategoria },
				dataType: "html",
				success : function(response) {
					$("#calculateResult").html(response);
					}
				});
			}
			
		</script>


{% endblock %}
