<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
	<meta name="description" content="Aplikacja do zarządzania domowym budżetem">
	<meta name="keywords" content="budżet, wydatek, przychód, bilans">
	<meta name="author" content="Daniel Sokanski">
  
    <link rel="stylesheet" href="/css/styles.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/fontello.css" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin-ext" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	{% block script %}{% endblock %}

</head>
<body>

<header>
		<div class="logo text-center">
			<h1> BUDŻET DOMOWY </h1>
			<p> Kompleksowo zarządzaj swoim budżetem domowym </p>
		</div>
</header>


				<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
			
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="mainmenu">
			
				<ul class="navbar-nav mr-auto">
				
					<li class="nav-item  mx-5">
						<a class="nav-link" href="/MainMenu"> Menu główne </a>
					</li>
					
					<li class="nav-item  mx-5">
						<a class="nav-link" href="/addIncome"> Dodaj przychód </a>
					</li>
					
					<li class="nav-item  mx-5">
						<a class="nav-link" href="/addExpence"> Dodaj wydatek </a>
					</li>
					
					<li class="nav-item  mx-5">
						<a class="nav-link" href="/bilans"> Sprawdź bilans </a>
					</li>
					
					<li class="nav-item  mx-5">
						<a class="nav-link" href="/settings.php"> Ustawienia </a>
					</li>	
				
				</ul>
				<input type="button" value="Wyloguj się" onclick="window.location.href='/logout';" />
				
			
			</div>
		</nav>
					
        {% block body %}
		
        {% endblock %}		
	<footer>
		<div class="mt-5 text-center">&copy; Wszelkie prawa zastrzeżone. Autor: Daniel Sokański  </div>
	</footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>

    
		
		{% block footer %}
    {% endblock %}
</body>
</html>
